html {
  font-family: font-family: "PT Serif", serif;
  background-color: #c9b5ab;
  font-size: 1.125rem;
  line-height: 1.5;
}

h1, h2 {
  font-family: font-family: "PT Sans", sans-serif;
}

h2 {
  color: #3f1622;
}

img {
  width: 100%;
}

nav {
  font-family: "PT Sans", sans-serif;
  font-weight: normal;
  color: #8f2440;
}

nav ol {
  list-style-type: none;
  color: #8f2440;
  text-decoration: none
}

.figcap > p {
  font-style: italic;
}

#bold {
  font-weight: bold;
}

blockquote {
  font-size: 1.5rem;
  font-style: italic;
}

blockquote > footer {
  font-size: 0.8rem;
}

.common {
  list-style-type:lower-greek;
}

.nutrition {
  list-style-type: none;
}

dt {
  font-weight: bold;
}

aside > ul {
  list-style: circle;
}
