html{
  font-family: "PT Sans", sans-serif;
  background-color: #c9b5ab;
  font-size: 1.125rem;
  line-height: 1.5;
}

img {
  width: 100%;
}

nav {
  font-size: 0.8rem;
  font-family: "PT Sans", sans-serif;
  font-weight: normal;
  color: #8f2440;
}

nav ol {
  list-style-type: none;
  color: #8f2440;
  text-decoration: none
}

.figcap > p {
  font-style: italic;
  font-family: font-family: "PT Serif", serif;
}

#bold {
  font-style: oblique;
}
