html {
  font-family: "PT Serif", serif;
  background-color: #c9b5ab;
  line-height: 1.5;
  color: #222;
}

h1, h2 {
  font-family: "PT Sans", sans-serif;
  font-size: 1.5rem;
  color: #3f1622;
}

img {
  width: 100%;
}

nav {
  font-family: "PT Sans", sans-serif;
  font-weight: normal;
}

nav ol {
  font-size: 1.125rem;
  color: #8f2440;
  list-style-type: none;
  text-decoration: none;
}

a:link {
  color: #8f2440;
  text-decoration: none;
}

a:hover {
  color: #222;
  text-decoration: none;
}

.figcap > p {
  font-style: italic;
}

#bold {
  font-weight: bold;
}

blockquote {
  font-style: italic;
}

strong {
  font-weight: normal;
}

blockquote > footer {
  font-size: .8rem;
}

.common {
  list-style-type: lower-greek;
}

.nutrition {
  list-style-type: none;
}

dt {
  font-weight: bold;
}

aside > ul {
  list-style: circle;
}

a {
  text-decoration: none;
  color: #8f2440;
}
